:root {
  --primary-color: #d3d3d3;
  --secondary-color: #6a5acd;
  --tertiary-color: #000000;
}

.App {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Page Styles */


.primary-border {
  color: var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
  padding: 30px;
  margin-bottom: 50px;
}
.secondary-border {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  padding: 30px;
  margin-bottom: 50px;
}
.tertiary-border {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  margin-top: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
/* Header and Navigation Styles */
header {
  background-color: rgba(106, 90, 205, 0.5);
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
}

.footer {
    background-color: rgba(106, 90, 205, 0.5);
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 2 10px
}
header h2 {
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 2 10px;
  margin: auto
}
header a {
  padding: 2 10px;
  text-decoration: none;
  color:var(--primary-color);
}
/* header hover for white overlay */
header a:hover {
  background-color: rgba(106, 90, 205, 0);
  border-radius: 5px;
  color: var(--tertiary-color);
}
header nav {
  margin-bottom: 0;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* Navigation section styles */
header nav ul li {
  margin: 15px;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* header nav white overlay hover style */
header nav ul li a:hover {
  background-color: rgba(106, 90, 205, 0);
  border-radius: 5px;
  color: var(--tertiary-color);
}
/* quote */
.quote {
  background-image: url("./assets/images/container-bg.jpg");
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: auto;
  border-radius: 40px;
  box-shadow: 0 0 30px var(--primary-color);
}
.quote h2, .quote p {
  padding-top: 2.5rem;
  color: white;
  text-shadow: 0 0 30px white;
}


/* About Me Section */
.about-me-details {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variant: small-caps;
  font-style: italic;

}
.about-me-details p {
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 10px 50px;
  box-shadow: 0 0 30px var(--tertiary-color);
  background: var(--secondary-color);
}
.my-paragraphs, .my-paragraphs p {
  margin: 15px;
  padding: 20px;
}
.about-me-details img {
  max-width: 20%;
  border-radius: 50px 10px;
  box-shadow: 0 0 30px var(--tertiary-color);
}
/* Contact Card */
.card { 
  border-radius: var(--border-radius);
  height: 100%;
  width: 40%;
  margin: 0 auto;
  display: block;
}
.card-header {
  color: var(--primary-color);
  padding: 3% 10%;
  margin: 2% 5%;
}

.card-body {
  background: var(--primary-color);
  color:  var(--secondary-color);
  border-radius:30px;
  padding: 3% 10%;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: auto;
  width: 100%;
  display: block;
}

textarea {
  width: 100%;
  height: auto;
}
#submit-btn {
flex: flex-end;
}
/* My Deployed Work Section, contains grid too */

/*Grid Styles*/
.portfolio-grid-wrapper {
  background-size: cover;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  padding: 30px;
  border-radius: 10em 40em;
}
.portfolio-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(3, 1fr);
  color:  var(--tertiary-color);
  font-size: 1.2rem;
  border-radius: 15px ;
  grid-auto-flow: dense;
  /* background: var(--primary-color); */
}
/* grid items */
.portfolio-grid-item  {
  padding: 2%;
  margin: 2%;
  display: flex;
  text-align: center;
  position: relative;
  border-radius: 10px;
  color: black;
  justify-content: flex-end;
}


.movie-search {
  background-image: url(./assets/images/movie-search-sample.jpg);
  background-size: cover;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
  text-decoration: var(--tertiary-color);
}

.living-real {
  background-image: url(./assets/images/living-real-sample.jpg);
  background-size: cover;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
  
}

.budget-tracker {
  background-image: url(./assets/images/budget-tracker.jpg);
  background-size: cover;
  grid-column: 4 / span 2;
  grid-row: 2 /span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
  
}
.weather-forecast {
  background-image: url(./assets/images/weather-forecast-sample.jpg);
  background-size: cover;
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
  
}
.zookeepr {
  background-image: url(./assets/images/zookeepr-sample.jpg);
  background-size: cover;
  grid-column: 3 / span 2;
  grid-row:  4 ;
  box-shadow: 0 0 40px var(--tertiary-color);
  
}
.cloud-rolodex {
  background-image: url(./assets/images/cloud-rolodex-sample.jpg);
  background-size: cover;
  grid-column: 2 / span 3;
  grid-row:  3 / span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
 
}
.food-festival {
  background-image: url(./assets/images/food-festival-screenshot.jpg);
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  box-shadow: 0 0 40px var(--tertiary-color);
  
}

/* Details Grid ITEMS */
.details-grid-wrapper {
  background-image: url("./assets/images/container-bg.jpg");
  background-size: contain;
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.details-grid-container {
  width: 80%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  color:  var(--secondary-color);
  font-size: 1.2rem;
  border-radius: 15px;
  grid-auto-flow: dense;
  
}

.movie-search-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  box-shadow: 0 0 40px var(--primary-color);
}
.living-real-details {
  background-color: white;
  background-size: cover;
  grid-column: 1/ span 3;
  box-shadow: 0 0 40px var(--primary-color);
}
.weather-forecast-details {
  
  background-color: white;
  background-size: cover;
  grid-column: span 3;
  grid-row:  span 1;
  box-shadow: 0 0 40px var(--primary-color);
}
.zookeepr-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  /* grid-row:  span 1; */
  box-shadow: 0 0 40px var(--primary-color);
}
.cloud-rolodex-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  /* grid-row:  span 1; */
  box-shadow: 0 0 40px var(--primary-color);
}
/* grid hover properties for background fill and opacity change */

.portfolio-grid-item:hover {
  content: "";
  position: inherit;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 30px;
  transition: 0.9s;
  /* animation: bounce 0.75s infinite; */
}
.portfolio-grid-item:hover a, .portfolio-grid-item:hover p  {
  top: 0;
  transition: 0.6s;
  /* margin: 0 ;
  padding: 0; */
  background-color: var(--primary-color);
  opacity: 1;
  /* z-index: 1; */
}  
.link {
  position: relative;
  color: var(--tertiary-color);
  text-align: center;
}

.link:hover {
  animation: bounce 0.85s infinite;
}
.link a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bolder;
  padding: 0;
}
.link li  {
  list-style: none;
}

/* contact me styles */
.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin: 50px;
}
.contact-me ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: var(--primary-color);
}
/* Bounce Animation */
@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/* media styles */
@media screen and (max-width: 980px)  {
  .header-title {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .nav {
    display: block;
    margin: auto;
    justify-content: center;
  }
  .about {
    display: block;
    margin: auto;
    margin: 0;
  }
  .about-me-details {
      margin: 30px;
      display: inline;
      align-items: center;
      font-variant: small-caps;
      font-style: italic;
  }
  .about-me-details img {
      align-items: center;
      max-width: 40%;  }
  .living-real {
    grid-column: 1 /span 4 ;
    grid-row: 1;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .movie-search {

    grid-column: 1 / span 2 ;
    grid-row: 4;
    box-shadow: 0 0 40px var(--primary-color);
  }
 
  .budget-tracker {

    grid-column: 3 / span 2 ;
    grid-row: 3;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .weather-forecast {

    grid-column: 3 / span 2 ;
    grid-row: 4;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .zookeepr {

    grid-column: 1 / span 2 ;
    grid-row: 3;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .cloud-rolodex {

    grid-column: 3 /span 2;
    grid-row: 2;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .food-festival {
    grid-column:  1/ span 2;
    grid-row: 2;
    box-shadow: 0 0 40px var(--primary-color);
  }

}
/* media styles for 768px max */
@media screen and (max-width: 768px)  {
  .header-title {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .nav {
    display: block;
    margin: auto;
    justify-content: center;
  }
  .nav ul li {
    display: block;
  }
  .portfolio-grid-container {
    width: 100%;
    margin: 20px;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
}
  .living-real {
    grid-column: 1 /span 4 ;
    grid-row: 1;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .movie-search {

    grid-column: 1 / span 2 ;
    grid-row: 4;
    box-shadow: 0 0 40px var(--primary-color);
  }
 
  .budget-tracker {

    grid-column: 3 / span 2 ;
    grid-row: 3;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .weather-forecast {

    grid-column: 3 / span 2 ;
    grid-row: 4;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .zookeepr {

    grid-column: 1 / span 2 ;
    grid-row: 3;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .cloud-rolodex {

    grid-column: 3 /span 2;
    grid-row: 2;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .food-festival {
    grid-column:  1/ span 2;
    grid-row: 2;
    box-shadow: 0 0 40px var(--primary-color);
  }
  /* media styles for 757px max */
}@media screen and (max-width: 575px)  {
  .navLinks {
    size: 2.0rem;
  }
  header {
      justify-content: center;
      background-color: var(--secondary-color);
  }
  header nav ul li a {
      font-size: 0.9;
  }
  .quote {
      margin: 60px auto;
      
  }
  .portfolio-grid-wrapper {
    width: 100%;
  }
  .portfolio-grid-container {
    width: 100%;
    margin: 20px;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(7, 1fr);
}
  .living-real {
    grid-column: 1 / span 2;
    grid-row: 1;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .movie-search {
    grid-column: 1 / span 2;
    grid-row: 2;
    box-shadow: 0 0 40px var(--primary-color);
  }
 
  .budget-tracker {
    grid-column: 1 / span 2;
    grid-row: 3 ;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .weather-forecast {

    grid-column: 1 / span 2;
    grid-row: 4 ;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .zookeepr {

    grid-column: 1 / span 2;
    grid-row: 5;
    box-shadow: 0 0 40px var(--primary-color);
  }
  .cloud-rolodex {

    grid-column: 1/ span 2;
    grid-row:  6;
    box-shadow: 0 0 40px var(--primary-color);
  }
 .food-festival {
    grid-column:  1/ span 2;
    grid-row: 7;
    box-shadow: 0 0 40px var(--primary-color);
  } 

}