.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Page Styles */
:root {
  --primary-color: #000000;
  --secondary-color: #6a5acd;
  --tertiary-color: #d3d3d3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-border {
  color: var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
  padding: 30px;
  margin-bottom: 50px;
}
.secondary-border {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  padding: 30px;
  margin-bottom: 50px;
}
.terceriary-border {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  margin-top: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
/* Header and Navigation Styles */
header {
  background-color: rgba(106, 90, 205, 0.5);
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.footer {
    background-color: rgba(106, 90, 205, 0.5);
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 2 10px
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 2 10px
}
header a {
  padding: 2 10px;
  text-decoration: none;
  color:var(--primary-color);
}
/* header hover for white overlay */
header a:hover {
  background-color: rgba(106, 90, 205, 0);
  border-radius: 5px;
  color: var(--tertiary-color);
}
header nav {
  margin-bottom: 10px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
/* Navigation section styles */
header nav ul li {
  margin: 15px;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* header nav white overlay hover style */
header nav ul li a:hover {
  background-color: rgba(106, 90, 205, 0);
  border-radius: 5px;
  color: var(--tertiary-color);
}
/* quote */
.quote {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  height: 200px;
  color: var(--tertiary-color);
  margin: auto;
  padding: auto;
  border-radius: 40px;
}
.form {
  display: inline;
   
}
.contact-form {
  display: flex;
  color:  var(--secondary-color);
  font-size: 1.2rem;
  border-radius: 15px;
  grid-auto-flow: dense;
  
}
.contact-form-info {
flex: 0 0 32%;
/* padding: 20px; */
margin: 20px;
}
.contact-form-body {
  flex: auto;
  margin: 20px;
}
#submit-btn {
flex: flex-end;
}
/* About Me Section */
.about-me-details {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-variant: small-caps;
  font-style: italic;
}
.about-me-details p {
  width: 100%;
  margin: 30px;
}
.my-paragraphs {
  margin: 15px;
  padding: 20px;
}
.about-me-details img {
  max-width: 20%;
  border-radius: 50px 10px;
  box-shadow: 0 0 10px;
}
/* Resume */

/* My Deployedd Work Section, contains grid too */
.my-work {
  background-color: var(--tertiary-color);
}
/*Grid Styles*/
.portfolio-grid-wrapper {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  padding: 30px;
  border-radius: 10em 40em;
}
.portfolio-grid-container {
  width: 80%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: repeat(6, 1fr);
  color:  var(--secondary-color);
  font-size: 1.2rem;
  border-radius: 15px;
  grid-auto-flow: dense;
}
/* grid items */
.portfolio-grid-item  {
  padding: 15px;
  margin: 15px;
  border: none;
  display: flex;
  text-align: center;
  position: relative;
  border-radius: 30px;
  color: black;
  justify-content: flex-end;
}
.movie-search {
  background-image: url(./assets/images/movie-search-sample.jpg);
  background-size: cover;
  grid-column: 1 / span 4;
  grid-row: 1 /span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.run-buddy {
  background-image: url(./assets/images/run-buddy-sample.jpg);
  background-size: cover;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.budget-tracker {
  background-image: url(./assets/images/budget-tracker.jpg);
  background-size: cover;
  grid-column: 1 / span 4;
  grid-row: 3 /span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.weather-forecast {
  background-image: url(./assets/images/weather-forecast-sample.jpg);
  background-size: cover;
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.resume img {
  margin: 30px;
  padding: 10px;
  background-size: fill;
  grid-column:  4 / span 2;
  grid-row: span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.zookeepr {
  background-image: url(./assets/images/zookeepr-sample.jpg);
  background-size: cover;
  grid-column: 1 / span 6;
  grid-row: span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
.cloud-rolodex {
  background-image: url(./assets/images/cloud-rolodex-sample.jpg);
  background-size: cover;
  grid-column: span 6;
  grid-row:  span 2;
  box-shadow: 0 0 40px var(--primary-color);
}
/* Details Grid ITEMS */
.details-grid-wrapper {
  background-image: url("./assets/images/container-bg.jpg");
  background-size: contain;
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.details-grid-container {
  width: 80%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr) ;
  grid-template-rows: repeat(4, 1fr);
  color:  var(--secondary-color);
  font-size: 1.2rem;
  border-radius: 15px;
  grid-auto-flow: dense;
  
}

.movie-search-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  box-shadow: 0 0 40px var(--primary-color);
}
.run-buddy-details {
  background-color: white;
  background-size: cover;
  grid-column: 1/ span 3;
  box-shadow: 0 0 40px var(--primary-color);
}
.weather-forecast-details {
  
  background-color: white;
  background-size: cover;
  grid-column: span 3;
  grid-row:  span 1;
  box-shadow: 0 0 40px var(--primary-color);
}
.zookeepr-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  /* grid-row:  span 1; */
  box-shadow: 0 0 40px var(--primary-color);
}
.cloud-rolodex-details {
  background-color: white;
  background-size: cover;
  grid-column: span 6;
  /* grid-row:  span 1; */
  box-shadow: 0 0 40px var(--primary-color);
}
/* grid hover properties for background fill and opacity change */
.portfolio-grid-item:hover {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.8;
  border-radius: 30px;
  transition: 0.9s;
  border: solid 2px var(--secondary-color);
} 
.link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bolder;
  padding: 0;
}
.link li  {
  list-style: none;
}
.portfolio-grid-item:hover .link a, .portfolio-grid-item:hover .link p {
  top: 0;
  transition: 0.6s;
  margin: 0 ;
  padding: 0;
  background-color: var(--tertiary-color);
  opacity: 1;
  z-index: 1;
} 
/* contact me styles */
.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin: 50px;
}
.contact-me ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: var(--primary-color);
}
/* media styles */
@media screen and (max-width: 980px)  {
  .about-me-details {
      margin: 30px;
      display: inline;
      align-items: center;
      font-variant: small-caps;
      font-style: italic;
  }
  .about-me-details img {
      align-items: center;
      max-width: 40%;
      margin-left:20% ;
  }
  .portfolio-grid-container {
      width: 80%;
      margin: 20px;
      grid-template-columns: repeat(2, 1fr) ;
      grid-template-rows: repeat(8, 1fr);
  }
  .run-buddy {
      grid-column: 1 / span 2;
      grid-row: 1 /span 3;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .resume {
      grid-column:  span 2;
      grid-row:  span 2;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .horiseon {
      grid-column: span 2;
      grid-row: span 2;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .frigin-platypus {
      grid-column: span 2;
      grid-row: span 2;
      box-shadow: 0 0 40px var(--primary-color);
  }
}
/* media styles for 768px max */
@media screen and (max-width: 768px)  {
  .portfolio-grid-container {
      width: 80%;
      margin: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(8, 1fr);
  }
  .run-buddy {

      grid-column: 1 / span 2;
      grid-row: 1 /span 3;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .resume {

      grid-column:  span 2;
      grid-row: span 3;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .horiseon {

      grid-column: span 2;
      grid-row: span 3;
      box-shadow: 0 0 40px var(--primary-color);
  }
  .frigin-platypus {
      grid-column: span 2;
      grid-row:  span 2;
      box-shadow: 0 0 40px var(--primary-color);
  }
  /* media styles for 757px max */
}@media screen and (max-width: 575px)  {
  header {
      justify-content: center;
      background-color: var(--secondary-color);
  }
  header nav ul li a {
      font-size: 0.9;
  }
  .quote {
      margin: 60px auto;
      
  }
  .portfolio-grid-container {

      width: 80%;
      margin: 20px;
      grid-template-columns: repeat(1, 1fr) ;
      grid-template-rows: repeat(1, 1fr);
  }
}